@font-face {
  font-family: 'KimjungchulMyungjo-Bold';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2302_01@1.0/KimjungchulMyungjo-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

body {
  background-color: #D7D7D9;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 1rem;
  color: #D7D7D9;
  background-color: #515D73;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

h1  {
  margin: 0;
  padding: 5%;
  font-family: 'KimjungchulMyungjo-Bold';
  color: #515D73;
}

a {
  text-align: center;
  color: #D7D7D9;
  padding: 20px;
  text-decoration: none;
  font-family: 'KimjungchulMyungjo-Bold';
}

a:hover {
  color: #8694A6;
}

table {
  margin-top: auto;
  text-align: center;
  color:#D7D7D9;
  border-collapse: collapse;
}

th, td{
  padding: 10px;
  text-align: center;
  background-color: #515D73;
  color: #D7D7D9;
  font-family: 'KimjungchulMyungjo-Bold';
}

.td1  {
  padding-left: 30px;
  padding-right: 30px;
}

.td2  {
  padding-left: 50px;
  padding-right: 50px;
}

.td3  {
  padding-left: 40px;
  padding-right: 40px;
}

.td4  {
  padding-left: 40px;
  padding-right: 40px;
}

.box {
  text-align: center;
  padding: 20px;
}

main {
  width: 100%;
  height: 100vh;
  margin: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

label {
  font-family: 'KimjungchulMyungjo-Bold';
}